# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Pprof related files
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE Related
/.idea/

# Ignore goreleaser related files folder
/dist/
releasenotes.md

# WordPress Slurper Created Files
/plugins/
/themes/
/readmes/
/searches/
.last-revision
.last-revision-plugins
.last-revision-themes